// out: ../css/footer.css, compress: true, strictMath: true

.footer-container {
  height: 35px;
  margin-top: 30px;
  background: #333;

  .footer {
    display: flex;
    height: 100%;
    width: 50vw;
    margin: 0 auto;
    font-size: 13px;
    color: white;
    justify-content: space-around;
    align-items: center;

    .icon {
      font-size: 20px;
    }
  }
}
