// out: ../css/navbar.css, compress: true, strictMath: true

.navbar-container {
  background: white;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
  .navbar {
    max-width: 900px;
    margin: 0 auto;
    height: 100%;
    z-index: 10;

    display: flex;

    padding: 10px 0;

    text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);

    align-items: center;
    align-content: space-around;
  }

  .navbar-left {
    flex: 1;
  }

  .navbar-brand {
    border-radius: 10px;

    text-decoration: none;
    text-shadow: 0 0 0 black;
    font-size: 35px;
    font-weight: 800;
    color: #333;
  }

  .navbar-right {
    display: flex;
    flex-direction: row;

    flex: 1;
    justify-content: space-around;
    max-width: 250px;
    z-index: 1001;
  }

  .navbar-link {
    font-weight: 500;

    text-decoration: none;

    color: #333;
  }

  .navbar-contact,
  .navbar-user {
    font-weight: 100;
  }

  .hamburger-container {
    display: none;
  }

  @media screen and (max-width: 920px) {
    .navbar {
      margin: 0 0 20px 0;
    }

    .navbar-right {
      position: absolute;
      top: 0;
      right: 0;

      flex-direction: column;

      height: 100vh;

      align-items: flex-end;

      justify-content: initial;
    }

    .navbar-brand {
      margin-left: 10px;
    }

    .shown {
      .navbar-link {
        display: block;
        opacity: 1;
        pointer-events: auto;
        height: 59px;
      }
    }

    .navbar-link {
      opacity: 0;
      height: 0px;
      pointer-events: none;
      transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      -webkit-transition: all 0.25s ease-in-out;
      width: 100vw;
      background-color: white;
      text-align: center;
      padding: 20px 40px;

      &:first-of-type {
        border-top: 1px solid rgba(0, 0, 0, 0.4);
      }

      border-bottom: 1px dotted rgba(0, 0, 0, 0.4);
    }

    .hamburger-container {
      display: initial;

      width: 25px;
      height: 25px;

      margin: 15px 15px 10px 20px;

      cursor: pointer;
    }

    .hamburger-icon {
      width: 100%;
      height: 100%;

      background: url(hamburger.svg) center center no-repeat;
      background-size: cover;
    }
  }
}
