<div class="page-heading">
  <h1>Today's Forecast for {{ city.name || 'Seattle' }}</h1>
  <div class="date-container">
    <div class="left">
      <div class="top">{{ (currentDay | date: 'MMMdd') }}</div>
      <div class="bottom">{{ currentDay | date: '&nbsp;y' }}</div>
    </div>
    <div class="right">
      <div class="top">{{ currentDay | date: 'h:' }}</div>
      <div class="bottom">{{ (currentDay | date: 'mma').toLowerCase() }}</div>
    </div>
  </div>
</div>

<div class="forecast-results-container container">
  <div ng-if="items[0].$resolved" class="loader">
    <div ng-if="false" class="forecast-results"></div>
  </div>
</div>

<div class="trihoral-heading">
  <h1>Trihoral Forecast</h1>
  <div class="view-toggle-container">
    <div class="button table-view selected">
      <div class="table-icon view-icon"></div>
      <div class="table-label">Table View</div>
    </div>
    <div class="button grid-view">
      <div class="grid-icon view-icon"></div>
      <div class="grid-label">Grid View</div>
    </div>
  </div>
</div>

<div class="forecast-results-container container">
  <div ng-if="!items[1].$resolved" class="loader"></div>
  <!--
    <div class="forecast-results">
        <div>Date</div>
        <div class="forecast-weather">Weather</div>
        <div></div>
        <div>Temperature</div>
        <div>Temp. Hi/Lo</div>
    </div>
-->
  <div
    class="forecast-results results-table-view"
    ng-repeat="forecast in items[1].list"
  >
    <div class="forecast-left">
      <div class="forecast-day-month">
        {{ convertToDate(forecast.dt) | date: 'd MMM' }}
      </div>
      <div class="forecast-year">
        '{{ convertToDate(forecast.dt) | date: 'yy' }}
      </div>
      <div class="forecast-time">
        {{ convertToDate(forecast.dt) | date: 'h a' }}
      </div>
      <div class="forecast-day-of-week">
        {{ convertToDate(forecast.dt) | date: 'EEE' }}
      </div>
    </div>
    <div class="forecast-weather">{{ forecast.weather[0].main }}</div>
    <div class="forecast-weather">
      <img ng-src="{{ makeIconUrl(forecast.weather[0].icon) }}" alt="" />
    </div>
    <div class="forecast-temp-primary">
      {{ convertToFahrenheit(forecast.main.temp) }}
    </div>
    <div class="forecast-temp-secondary">
      <div class="forecast-temp-high">
        HI {{ convertToFahrenheit(forecast.main.temp_max) }}
      </div>
      <div class="forecast-temp-low">
        LO {{ convertToFahrenheit(forecast.main.temp_min) }}
      </div>
    </div>
  </div>
</div>
