<div ng-if="items[0].$promise.$$state.status === 2" class="error container">
  <div class="sorry">I'm so sorry!</div>
  <div>I couldn't find the weather for that location.</div>
  <a href="#/explore" class="button button--primary">Explore</a>
</div>

<div class="page-heading" ng-if="items[0].$promise.$$state.status === 1">
  <h1>Today's Forecast for {{ city.name || 'Seattle' }}</h1>
  <div class="date-container">
    <div class="left">
      <div class="top">{{ (currentDay | date: 'MMMdd') }}</div>
      <div class="bottom">{{ currentDay | date: '&nbsp;y' }}</div>
    </div>
    <div class="right">
      <div class="top">{{ currentDay | date: 'h:' }}</div>
      <div class="bottom">{{ (currentDay | date: 'mma').toLowerCase() }}</div>
    </div>
  </div>
</div>

<div
  ng-if="items[0].$promise.$$state.status === 1"
  class="forecast-results-container container"
>
  <div ng-if="!items[0].$resolved" class="loader"></div>
  <div ng-if="items[0].$resolved" class="current-results">
    <div class="top">
      <div class="left">
        <div class="icon">
          <i
            class="owf"
            ng-class="isDarkOut(items[0].dt) ? 'owf-' + items[0].weather[0].id + '-n owf-5x' : 'owf-'+items[0].weather[0].id + ' owf-5x'"
          ></i>
        </div>
        <div class="temp">
          {{ convertToFahrenheit(items[0].main.temp) }} &deg;
        </div>
        <div class="description">{{ items[0].weather[0].description }}</div>
      </div>
      <div class="right">
        <div class="wind">
          <div>Wind Speed:</div>
          <div>{{ items[0].wind.speed }}</div>
        </div>
        <div class="pressure">
          <div>Air Pressure:</div>
          <div>{{ items[0].main.pressure }}</div>
        </div>
        <div class="humidity">
          <div>Humidity:</div>
          <div>{{ items[0].main.humidity }}</div>
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="sunrise">
        Sunrise: {{ convertToDate(items[0].sys.sunrise) | date: 'h:m a' }}
      </div>
      <div class="sunset">
        Sunset: {{ convertToDate(items[0].sys.sunset) | date: 'h:m a' }}
      </div>
    </div>
  </div>
</div>

<div class="trihoral-heading" ng-if="items[0].$promise.$$state.status === 1">
  <h1>Trihoral Forecast</h1>
  <div class="view-toggle-container">
    <div class="button table-view selected" ng-click="applyTableView()">
      <div class="table-icon view-icon"></div>
      <div class="table-label">Table View</div>
    </div>
    <div class="button grid-view" ng-click="applyGridView()">
      <div class="grid-icon view-icon"></div>
      <div class="grid-label">Grid View</div>
    </div>
  </div>
</div>

<div
  class="trihoral-results-container forecast-results-container results-table-view container"
  ng-if="items[0].$promise.$$state.status === 1"
>
  <div ng-if="!items[1].$resolved" class="loader"></div>
  <!--
    <div class="forecast-results">
        <div>Date</div>
        <div class="forecast-weather">Weather</div>
        <div></div>
        <div>Temperature</div>
        <div>Temp. Hi/Lo</div>
    </div>
-->
  <div class="forecast-results " ng-repeat="forecast in items[1].list">
    <div class="forecast-left">
      <div class="forecast-day-month">
        {{ convertToDate(forecast.dt) | date: 'd MMM' }}
      </div>
      <div class="forecast-year">
        '{{ convertToDate(forecast.dt) | date: 'yy' }}
      </div>
      <div class="forecast-time">
        {{ convertToDate(forecast.dt) | date: 'h a' }}
      </div>
      <div class="forecast-day-of-week">
        {{ convertToDate(forecast.dt) | date: 'EEE' }}
      </div>
    </div>
    <div class="forecast-weather">{{ forecast.weather[0].main }}</div>
    <div class="forecast-weather">
      <i
        class="owf"
        ng-class="isDarkOut(forecast.dt) ? 'owf-' + forecast.weather[0].id + '-n owf-3x' : 'owf-'+forecast.weather[0].id + ' owf-3x'"
      ></i>
      <!--            <img ng-src="{{ makeIconUrl(forecast.weather[0].icon) }}" alt="" />-->
    </div>
    <div class="forecast-temp-primary">
      {{ convertToFahrenheit(forecast.main.temp) }}&deg;
    </div>
    <div class="forecast-temp-secondary">
      <div class="forecast-temp-high">
        HI {{ convertToFahrenheit(forecast.main.temp_max) }}&deg;
      </div>
      <div class="forecast-temp-low">
        LO {{ convertToFahrenheit(forecast.main.temp_min) }}&deg;
      </div>
    </div>
  </div>
  <div class="forecast-results placeholder">End of results</div>
</div>
